
<div class="container">
	<h3>Create Account</h3>

	<form id="new-user-form" method="POST" action="/auth/signup">
	  <input id="signup-name" type="text" name="name" placeholder="User Name" />
	  <input id="signup-email" type="text" name="email" placeholder="Email Address" />
	  <input id="signup-password" type="text" name="password" placeholder="Password" />
	  <input id="signup-submit" class="btn-large" type="submit" value="Create Account" />
	</form>
</div>
