<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookkeeper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Markazi+Text|Merriweather" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </head>
    <body>
      <header>
        <nav class="main-nav">
          <div class="nav-wrapper">

            <div class="logo-container">
              <a href="/"><img src="/img/bookLogo.png" />Bookkeeper</a>
            </div>

            <div class="main-menu-container">
              <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <% if (user) { %>
                    <li><a href="/user/search">Find Friends</a></li>
                    <li><a href="/groups/search">Find Clubs</a></li>
                    <li><a href="/user/<%= user.id %>">Profile</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/signup">Signup</a></li>
                <% } %>
              </ul>
            </div>

          </div>
        </nav>
      </header>

        <% include partials/alerts %>
        <%- body %>

      <footer>
        <p>Developed by M Kacy Sommers</p>
      </footer>
    </body>
</html>
