@media screen and (max-width: 992px) {
 	.results-top {
		grid-template-areas: "new-search" "showing";
		grid-template-rows: auto auto;
	}

 	.showing-results {
 		margin: 0;
 		padding: 2em;
 	}

 	.logo-container img {
 		display: none;
 	}

 	.sidenav-trigger img {
 		width: 70px;
 		margin-right: 0.2em;
 		position: relative;
 		top: 0.5em;}
 	}
}

@media screen and (max-width: 850px) {
 	.profile-container {
 		grid-template-areas: "profile-left" "profile-right";
 		grid-template-columns: auto auto;
 	}

 	.profile-info, .profile-groups {
 		max-width: none;
 	}


 	/*********** profile left ******/
 	.profile-left {
 		grid-area: profile-left;
 		display: grid;
 		grid-template-areas: "profile-pic profile-info" "profile-groups profile-groups";
 		grid-template-rows: 13em auto;
 		grid-template-columns: 13em auto;
 	}

 	.edit-profile-trigger {
 		position: absolute;
 		top: 2em;
 		right: -5em;
 	}
}

@media screen and (max-width: 600px) {
 	.results-book-container {
 		display: grid;
 		grid-template-areas: "book-left" "book-right";
 		grid-template-columns: auto;
 		grid-template-rows: auto auto;
 		text-align: center;
 	}
}