@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 850px) {
	h5 {font-size: 1.5em;}

	.brand-logo img {
		display: none;}

/*********************************************
					Search Results
***************************************************************/

	.results-top {
		grid-template-areas: "new-search" "showing";
		text-align: center;}

	.showing-results {margin: 2em 0 0 0;}

	.new-search-container {text-align: center;}

	.results-book-container {
		grid-template-areas: "book-left" "book-right";
		grid-template-columns: auto;
		margin: 5em 0;
		text-align: center;}

/*********************************************
					PROFILE
***************************************************************/

	.profile-container {
		grid-template-areas: "profile-left" "profile-right";
		grid-template-columns: auto auto;}

	.profile-left {
		grid-template-areas: "profile-pic" "profile-info" "mobile-profile-nav" "profile-groups";
		grid-template-rows: auto auto auto auto;
		padding: 0;
		position: relative;}

	.profile-pic {
		width: 150px;
		height: 150px;
		margin: 2em auto 1em auto;}

	.profile-info {
		text-align: center;
		max-width: none;}

	.profile-groups {
		max-width: none;
		padding: 0 2em;
		text-align: center;}

	.profile-groups .card {width: 100%;}
	.mobile-profile-nav {display: block;}
	.edit-profile-trigger, .profile-new-search {display: none;}
	.profile-lists .card-container {padding: 1.6em 2em;}

/*********************************************
						SHOW BOOK
***************************************************************/

.show-book-page {
	display: grid;
	grid-template-areas: "book-banner"
						 "book-nav"
						 "book-info"
						 "book-quotes"
						 "book-notes";
	grid-template-columns: auto;
	grid-template-rows: auto;}

.book-cover {position: relative;}

.book-cover img {width: 125px;}

.book-nav {
	padding: 0;
	border-top: 1px solid #888;
	margin-top: 3em;
	text-align: center;}

.book-navbar .nav-wrapper {
	float: none !important;}

.book-info {
	padding: 2em;
	text-align: center;}

.book-info h3 {font-size: 2em;}

.book-quotes, .book-notes {padding: 0 2em;}

.quotes-card, .notes-card {padding: 2em;}

/*********************************************
						SHOW GROUP
***************************************************************/

	.group-container {
		grid-template-areas: "group-banner" "group-details" "group-members" "group-posts";
		grid-template-columns: auto;
		grid-template-rows: auto;
		text-align: center;}

	.group-book-cover {
		position: relative;
		top: 6em;}

	.group-banner .edit-trigger {display: none;}

	.group-details {padding: 3em 2em;}

	.group-members {
		border-left: none;
		padding: 0 2em;}

	.group-posts {
		padding: 1em 2em;
		margin-top: 3em;}

	.post-container {
		margin-top: 2em;
		text-align: left;}

}


@media screen and (max-width: 600px) {

}