* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;}

html, body {height: 100%;}

.page-background {
	background-image: url("../img/page-background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	padding: 5em 0;}

.page-container {
	background: linear-gradient(to bottom right, #fff, #e1e2e5);
	box-shadow: 10px -10px 100px 0px #333;
	border-radius: 5px;
	width: 85%;
	border: 3px solid #fff;}

.edit-trigger {
	background-color: #fff;
	padding: 0.4em 0.5em 0.5em 0.5em;
	border-radius: 10px;
	color: #1d4b44;
	font-size: 0.8em;}

.red-flash {color: #dc2101;}

.alerts-container {
	position: absolute;
	left: 50%;
	top: 7em;
	transform: translateX(-50%);
	width: 70%;
	text-align: center;
	border-radius: 10px;}

.alert-success {
	background-color: rgba(224, 253, 244, 1);
	color: #1d4b44;
	padding: 1em 0;
	border-radius: 10px;
}

.alert-danger {
	background-color: #ffecec;
	color: #e66073;
	padding: 1em 0;
	border-radius: 10px;
}

em {color: #888;}

textarea {
	background-color: #fff;
	height: 150px;
	padding: 1em;
	font-size: 1.1em;
	max-width: 100%;
	display: block;
}

input[type=file] {
	display: block
}

input[type=submit] {
	margin-top: 0.7em;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;}

/******************************************************
	Materialize 
*******************************************************/

h1, h2, h3, h4, h5, h6 {
	font-family: Merriweather;
	color: #1d4b44;}

p {
	font-family: Markazi Text;
	font-size: 1.5em;
	color: #333;}

.btn-small {
	color: #888;
	min-width: 170px;
}

.row {margin: 0;}

.col {padding: 0 !important;}

.btn-large {
	background-color: #c32f47;
}

/**************************************************
	Layout.ejs 
***************************************************/

.main-nav {
	height: 100px;
	background-color: #1a4b44;}

.nav-wrapper {
	display: flex;
	align-items: center;
	padding: 0 5em;
	border-bottom: 1px solid #fff;
}

.logo-container, .main-menu {flex: 1;}

.logo-container a {
	font-family: Pacifico;
	font-size: 2em;}

.logo-container img {
	width: 70px;
	margin-right: 0.2em;
	position: relative;
	top: 3px;}

footer {
	background-color: #333333;
	text-align: center;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #fff;}

footer p {
	color: #fff;
}

/*************************************************** 
	findUsers.ejs 
****************************************************/

.findUsers-page-background {
	min-height: calc(100% - 200px);
	background-image: url("https://image.freepik.com/free-photo/book-turning-pages_1150-146.jpg");
	background-size: cover;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

/*************************************************** 
	findUsers.ejs 
****************************************************/

.findGroups-page-background {
	min-height: calc(100% - 200px);
	background-image: url("https://s-i.huffpost.com/gen/1976688/images/o-BOOK-COFFEE-facebook.jpg");
	background-size: cover;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}


/*************************************************** 
	Login/signup/createprofil.ejs 
****************************************************/

.login-container, .signup-container, .create-profile-container{
	min-height: calc(100% - 200px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-container h5, .signup-container h5, .create-profile-container h5 {
	padding: 1em 0;
}

.create-profile-container {
	padding: 4em 0;
}

/*************************************************** 
	updateUser.ejs 
****************************************************/


.create-profile-container input[type=file], .create-profile-container input[type=submit] {
	display: block;
	margin: 1em 0;
}

/**************************************************
	index.ejs 
***************************************************/

.home-page-background {
	min-height: calc(100% - 200px);
	background-image: url("https://3.bp.blogspot.com/-6EFmOi6dbv8/V3ORuvdiX8I/AAAAAAAADaU/NUSmBebnQV0sxmmbZYcrlZ8VdZAfsVsrwCLcB/s1600/shutterstock_105363872.jpg");
	background-size: cover;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

.home-page-container {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 3em;
	border-radius: 10px;
}

/********************************************************
		searchResults.ejs 
*********************************************************/

.results-container {
	display: grid;
	grid-template-areas: "results-top" "results-bottom";
	grid-template-rows: 15em 1fr;
	min-height: calc(100vh - 200px);
}

.results-top {
	grid-area: results-top;
	align-items: center;
	display: grid;
	grid-template-areas: "showing new-search";
}

.results-bottom {
	grid-area: results-bottom;
}

.showing-results {
	grid-area: showing;
	margin: -4em 0 0 -5em;
}

.new-search-container {
	grid-area: new-search;
	padding-left: 1em;
	text-align: right;
}

.results-book-container {
	display: grid;
	grid-template-areas: "book-left book-right";
	grid-template-columns: 12em 1fr;
	margin: 5em 0;
}

.book-left {
	grid-area: book-left;
	padding-top: 2em;
}

.book-right {
	grid-area: book-right;
}

.book-right h5 {
	margin: 0.5em 0;
}

#find-club-form {
	display: inline-block;
}


/*******************************************************
		user/profile.ejs 
********************************************************/

.profile-container {
	display: grid;
	grid-template-areas: "profile-left profile-right";
	grid-template-columns: 20em auto;
}

/*********** profile left ******/
.profile-left {
	grid-area: profile-left;
	display: grid;
	grid-template-areas: "profile-pic" "profile-info" "profile-groups";
	grid-template-rows: 16em 7em auto;
	padding: 2em;
	position: relative;
}

.edit-profile-trigger {
	position: absolute;
	top: 2em;
	right: -5em;
}

.profile-pic {
	grid-area: profile-pic;
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
	border: 3px solid #fff;
}

.profile-info {
	grid-area: profile-info;
	overflow-wrap: break-word;
	max-width: 250px;
}

.profile-info h5 {
	margin: 0.4em 0 0 0;
}

.profile-groups {
	grid-area: profile-groups;
	line-height: 1.3em;
	max-width: 250px;
}

.profile-groups .card {
	display: flex;
	padding: 1em;
	align-items: center;
	width: 110%;
	cursor: pointer;
}

.profile-group-name {
	padding-left: 1em;
}

/*********** profile right ******/
.profile-right {
	padding: 2em;
	grid-area: profile-right;
}

.profile-new-search {
	text-align: right;
	padding: 0 0 2em 4em;
}

.profile-lists h6 {
	text-align: center;
	margin-bottom: 1em;
}

.profile-list {
	position: relative;
	cursor: pointer;
}

.profile-list .card-container {
	min-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em 2em;
}

.profile-list .card-title {
	font-size: 1.8em;
}

.card-book-col {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.card-book-cover {
	width: 100%;
	text-align: center;
	height: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-top: 1em;
}

.card-book-cover img {
	max-width: 150px;
}

.card-book-info {
	text-align: center;
	width: 100%;
	line-height: 1em;
	overflow-wrap: break-word;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.delete-modal-trigger {
	position: absolute;
	right: 2em;
	top: 1.8em;
	font-size: 1.3em;
	transition: all 0.1s ease;
	color: #555;
}

.delete-modal-trigger:hover {
	color: #dc2101;
}

.profile-list-plus {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid rgba(0,0,0,0);
	transition: all 0.2s ease;
	height: 100px;
	border-radius: 5px;
}

.profile-list-plus:hover {
	border: 1px dashed #888;
}

/*******************************************************
		showGroup.ejs 
********************************************************/

.group-container {
	display: grid;
	grid-template-areas: "group-banner group-banner" 
						 "group-details group-members"
						 "group-posts group-members";
	grid-template-columns: 1fr 20em;
	grid-template-rows: 20em 15em 1fr;
}

.group-banner {
	grid-area: group-banner;
	background-size: cover;
	background-position: center center;
	padding: 3em;
	border-bottom: 2px solid #888;
}

.group-banner .edit-trigger {
	margin-left: 1.5em;
}

.group-book-cover {
	border: 3px solid #fff;
	margin-bottom: 0.5em;
}

.group-details {
	grid-area: group-details;
	padding: 3em 5em;
}

.group-posts {
	grid-area: group-posts;
	padding: 1em 5em;
	margin-top: 5em;
}

.post-container {
	padding: 1em;
}

.post-content {
	padding: 1em 0;
}

#new-post-form {
	margin: 4em 0;
}

#new-post-form textarea {
	max-width: 465px;
}

.group-members {
	grid-area: group-members;
	text-align: center;
	border-left: 2px solid #999;
	padding: 3em 1em;
}

.group-members p {
	line-height: 1em;
	overflow-wrap: break-word;
}

.group-members .row {
	margin-bottom: 2em;
}

.group-members .col {
	margin-top: 2em;
}

.member-photo {
	width: 75px;
	height: 75px;
	background-size: cover;
	background-position: center center;
	border-radius: 100%;
	display: inline-block;
}

.already-joined-msg {
	color: red;
	padding: 2em 1em;
}

#edit-group-banner-modal img{
	display: block;
}

#edit-group-banner-modal input[type=submit] {
	display: block;
	margin: 0 auto;
}

/******************************************************
		groups/groupsIndex.ejs 
*******************************************************/

.results-group-container {
	display: flex;
	margin: 4em 0;
}

.results-group-info {
	padding-left: 3em;
}

/*******************************************************
		showList.ejs 
********************************************************/

.list-page-background {
	min-height: calc(100vh - 200px);
}

.list-page-container {
	padding: 2em 0;
}

.list-page-container h5 {
	text-align: center;
}

.list-page-row {
	padding: 0 4em;
}

.list-page-row .card-book-col {
	margin: 2em 0;
}

.list-page-row .card-book-cover img{
	background-color: red;
	width: 200px;
}

.list-page-nav {
	display: flex;
	flex-direction: column;
}

.dropdown-trigger {
	margin: 1em 0;
}

.dropdown-submit {
	height: 100%;
	border: none;
	color: #2fa59f !important;
	width: 100%;
	text-align: left;
	font-size: 1.1em;
}

.delete-book-btn:hover {
	color: #fff;
	background-color: #dc2101;
}


/*******************************************************
		user/showUsers.ejs 
********************************************************/

.results-user-container {
	display: flex;
	padding: 2em;
	align-items: center;
}

.results-user-container h6{
	margin-top: 0.5em;
}

.results-user-info {
	padding-left: 3em;
}

.results-user-pic {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center center;
	border-radius: 100%;
}


/********************************************************
		showBook.ejs 
*********************************************************/

.show-book-page {
	display: grid;
	grid-template-areas: "book-banner book-banner"
						 "book-info book-nav"
						 "book-quotes book-quotes"
						 "book-notes book-notes";
	grid-template-columns: 1fr 30em;
	grid-template-rows: 24em auto auto auto;
}

.book-cover {
	position: absolute;
	text-align: center;
	bottom: -3em;
	left: 50%;
	transform: translateX(-50%);
}

.book-cover img {
	border: 5px solid #fff;
	border-radius: 5px;
	width: 175px;
}

.book-banner {
	grid-area: book-banner;
	background-size: cover;
	background-position: center center;
	position: relative
}

.book-banner .edit-trigger {
	position: relative;
	top: 1em;
	left: 1em;
}

#update-book-banner-modal input[type=submit]{
	display: block;
	margin: 0 auto;
}

#update-book-banner-modal img {
	margin: 1em 0;
}

.book-info {
	grid-area: book-info;
	padding: 4em 3em 3em 10em;
}

.book-info-btns a, .book-info-btns input[type=submit] {
	color: #888;
	margin-top: 1em;
}

.edit-description-modal-trigger {
	font-size: 0.8em;
}

.book-nav {
	grid-area: book-nav;
	padding: 3em 3em 3em 0;
}

.book-nav a {
	color: #1d4b44;
}

.book-navbar {
	background: none;
	box-shadow: none;
	border-bottom: 1px solid #888;
}

.book-navbar .nav-wrapper {
	padding: 0;
}

.book-quotes {
	grid-area: book-quotes;
	padding: 0 5em;
	margin-bottom: 3em;
}

.book-notes {
	padding: 0 5em;
	grid-area: book-notes;
	margin-bottom: 3em;
}

.book-quotes h5, .book-notes h5 {
	text-align: center;
	margin-bottom: 1em;
}

.quotes-card, .notes-card {
	padding: 3em 5em;
}

.notes-content, .quotes-content {
	position: relative;
}

.notes-content p, .quotes-content p {
	padding-right: 2.2em;
}

.delete-note-btn, .delete-quote-btn {
	position: absolute;
	right: 1em;
	top: 2.8em;
	transition: all 0.2s ease;
	cursor: pointer;
	color: #333;
}

.delete-note-btn:hover, .delete-quote-btn:hover{
	color: #dc2101;
}

.notes-card small, .quotes-card small {
	display: block;
	border-top: 1px solid #1d4b44;
	padding: 0.5em 0;
	margin: 4em 0 0.5em 0;
}

.new-quote-modal-trigger {
	display: block;
	text-align: center;
	color: #1d4b44;
	font-size: 1.4em;
}

#new-note-form {
	margin: 4em 0;
}

#new-note-form textarea {
	display: block;
	font-size: 1.4em;
}