* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;}

html, body {height: 100%;}

.flex {display: flex;}

/****************** 
	Materialize overwrites 
*******************/

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.row {
	margin: 0;
}

.col {
	padding: 0 !important;
}

/****************** 
	Layout.ejs 
*******************/

.main-nav {
	padding: 0 5em;
	height: 100px;
	background-color: #1a4b44;
}

.nav-wrapper {
	display: flex;
	align-items: center;
}

.logo-container, .main-menu {
	flex: 1;
}

.logo-container a {
	font-family: Pacifico;
	font-size: 2em;
}

.logo-container img {
	width: 70px;
	margin-right: 0.5em;
}

#nav-search-groups-form {
	position: relative;
}

.navbar-search {
	position: absolute;
	color: #333;
	right: 0;
}

#nav-search-groups-form input[type=text]{
	border-bottom: none;
	background-color: #fff;
	border-radius: 10px;
	height: 2rem;
}

footer {
	background-color: #333333;
	color: #fff;
	text-align: center;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/****************** 
	index.ejs 
*******************/

.home-page-container {
	text-align: center;
	height: calc(100% - 214px);
	flex-direction: column;
	justify-content: center;
}

/****************** 
	user/profile.ejs 
*******************/

.profile-container {
	display: grid;
  	grid-template-areas: "profile-left profile-right";
  	grid-template-columns: 1fr 25em;
}

.profile-right {
	grid-area: profile-right;
	text-align: right;
	padding: 1.5em;
}

.profile-left {
	grid-area: profile-left;
	display: grid;
	grid-template-areas: "profile-top" "profile-bottom";
	grid-template-rows: 22em 1fr;
	padding: 3em;
	box-shadow: inset 0 10px 170px -10px #888;
	background: linear-gradient(to bottom right, #fff, #f0f2f2);
}

.profile-top {
	grid-area: profile-top;
	display: grid;
	grid-template-areas: "profile-pic profile-edit profile-search"
						 "user-info profile-nav profile-nav";
	grid-template-columns: 13.3em 10em 1fr;
}

.profile-bottom {
	grid-area: profile-bottom;
	padding: 1em;
}

.profile-top:hover .profile-edit {
	opacity: 1;
}

.user-info {
	grid-area: user-info;
}

.user-info h3{
	padding: 0;
}

.profile-edit {
	grid-area: profile-edit;
	opacity: 0;
	transition: all 0.2s ease;
	padding: 1em;
}

.profile-edit a {
	font-size: 0.9em;
}

.profile-search {
	grid-area: profile-search;
	text-align: right;
}

.profile-image-container {
	grid-area: profile-pic;
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center center;
	border-radius: 5px;
	border: 3px solid #fff;
}

.profile-nav-container {
	grid-area: profile-nav;
}

.profile-nav {
	background: none;
	box-shadow: none;
	border-bottom: 1px solid #888;
}

.profile-nav a {
	color: #000;
}

.lists-container {
	grid-area: lists;
	width: 100%;
}

.lists-container h5 {
	margin: 0.5em 0 1em 0;
}

.list {
	cursor: pointer;
	position: relative;
	padding: 2em;
}

.list:hover .delete-modal-trigger {
	opacity: 1;
}

.delete-modal-trigger {
	position: absolute;
	top: 1em;
	right: 2em;
	opacity: 0;
	transition: all 0.2s ease;
	font-size: 1.3em;
}

.list-plus {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	border: 1px dashed rgba(0,0,0,0);
	transition: all 0.2s ease;
}

.list-plus:hover {
	border-color: #888;
}

.list-books {
	text-align: center;
	padding: 1em;

}

.group-container {
	padding: 1.2em;
	cursor: pointer;
}

.myGroups h5 {
	margin: 1em 0;
}

