* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {height: 100%;}

.page-background {
	background-image: url('/img/page-background.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	padding: 5em 0;
}

.page-container {
	background: linear-gradient(to bottom right, #fff, #e1e2e5);
	box-shadow: 10px -10px 100px 0px #333;
	border-radius: 5px;
	width: 80%;
	border: 3px solid #fff;
}

.edit-trigger {
	background-color: #fff;
	padding: 0.4em 0.5em 0.5em 0.5em;
	border-radius: 10px;
	color: #1d4b44;
	font-size: 0.8em;
}

.flash {
	color: #dc2101;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Merriweather;
	margin: 0;
	padding: 0;
}

p {
	font-family: Markazi Text;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

em {
	color: #888;
}

textarea {
	background-color: #fff;
	height: 150px;
	padding: 1em;
	font-size: 1.1em;
	max-width: 100%;
}

input[type=submit] {
	margin-top: 0.7em;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/******************************************************
	Materialize 
*******************************************************/

.row {
	margin: 0;
}

.col {
	padding: 0 !important;
}

.card {
	padding: 1em;
}

/**************************************************
	Layout.ejs 
***************************************************/

.main-nav {
	padding: 0 5em;
	height: 100px;
	background-color: #1a4b44;
}

.nav-wrapper {
	display: flex;
	align-items: center;
}

.logo-container, .main-menu {
	flex: 1;
}

.logo-container a {
	font-family: Pacifico;
	font-size: 2em;
}

.logo-container img {
	width: 70px;
	margin-right: 0.5em;
}

footer {
	background-color: #333333;
	color: #fff;
	text-align: center;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*************************************************** 
	Login.ejs 
****************************************************/

.login-container, .signup-container {
	min-height: calc(100% - 250px);
}

.login-container h5, .signup-container h5 {
	padding: 2em 0;
}

/**************************************************
	index.ejs 
***************************************************/

.home-page-background {
	min-height: calc(100% - 250px);
	background-image: url(/img/home-background.jpg);
	background-size: cover;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.home-page-container {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 3em;
	border-radius: 10px;
}

/********************************************************
		searchResults.ejs 
*********************************************************/

.results-container {
	display: grid;
	grid-template-areas: "results-top" "results-bottom";
	grid-template-rows: 15em 1fr;
	min-height: calc(100vh - 250px);
}

.results-top {
	grid-area: results-top;
	align-items: center;
	display: grid;
	grid-template-areas: "showing new-search";
}

.results-bottom {
	grid-area: results-bottom;
	margin-top: -5em;
}

.showing-results {
	grid-area: showing;
	margin: -4em 0 0 -5em;
}

.new-search-container {
	grid-area: new-search;
	padding-left: 1em;
	text-align: right;
}

.results-book-container {
	display: grid;
	grid-template-areas: "book-left book-right";
	grid-template-columns: 12em 1fr;
	margin: 5em 0;
}

.book-left {
	grid-area: book-left;
}

.book-right {
	grid-area: book-right;
}

.book-right h5 {
	margin: 0.5em 0;
}

#find-club-form {
	display: inline-block;
}


/*******************************************************
		user/profile.ejs 
********************************************************/

.profile-container {
	display: grid;
	grid-template-areas: "profile-pic profile-pic profile-search profile-search"
						 "profile-info profile-nav profile-nav profile-nav"
						 "profile-lists profile-lists profile-lists profile-groups";
	grid-template-columns: auto 9em 1fr 1fr;
	grid-template-rows: 17em auto auto;
	padding: 2em 0;
}

.profile-pic {
	grid-area: profile-pic;
	background-size: cover;
	background-position: center center;
	border: 3px solid #fff;
	border-radius: 10px;
	margin-left: 2em;
	max-width: 225px;
	min-width: 225px;
}

.profile-edit {
	grid-area: profile-edit;
}

.profile-search {
	grid-area: profile-search;
	text-align: right;
	padding: 0 3em;
	position: relative;
}

.profile-info {
	grid-area: profile-info;
	overflow-wrap: break-word;
	max-width: 300px;
	padding: 1em 2em;
}

.profile-nav-container {
	grid-area: profile-nav;
	padding: 0 1em 0 3em;
}

.profile-lists-container {
	grid-area: profile-lists;
	padding: 1em 1em 1em 2em;
}

.profile-groups {
	grid-area: profile-groups;
	padding: 1em 2em 1em 1em;
	text-align: right;
}

.profile-groups h5, .profile-lists-container h5 {
	margin-bottom: 1em;
}

.profile-nav {
	background: none;
	box-shadow: none;
	border-bottom: 1px solid #888;
}

.profile-nav a {
	color: #1d4b44;
}

.profile-nav a:hover {
	color: #fff;
}

.profile-list-card {
	cursor: pointer;
	position: relative;
	padding: 2em 2em;
	white-space: nowrap;
}

.profile-page-book-col {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.profile-page-book-info {
	text-align: center;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 1.5em;
}

.profile-page-book-cover {
	width: 100%;
	text-align: center;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: 3em 0 1em 0;
}

.profile-list-card:hover .delete-modal-trigger {
	opacity: 1;
}

.list-plus {
	display: block;
	text-align: center;
	padding: 2em 0;
	border: 1px dashed rgba(0,0,0,0);
	transition: all 0.2s ease;
}

.list-plus:hover {
	border-color: #333;
}

.delete-modal-trigger {
	position: absolute;
	right: 2.5em;
	top: 2.3em;
	font-size: 1.2em;
	opacity: 0;
	transition: all 0.2s ease;
}

.profile-group-card {
	cursor: pointer;
	line-height: 1.7em;
}

.profile-group-card img {
	float: right;
	margin-left: 1em;
}

.delete-list-btn {
	margin-top: 1em;
}



/*******************************************************
		showGroup.ejs 
********************************************************/

.group-container {
	display: grid;
	grid-template-areas: "group-banner group-banner" 
						 "group-details group-members"
						 "group-posts group-members";
	grid-template-columns: 1fr 20em;
	grid-template-rows: 20em 15em 1fr;
}

.group-banner {
	grid-area: group-banner;
	background-size: cover;
	background-position: center center;
	padding: 3em;
	border-bottom: 2px solid #888;
}

.group-banner .edit-trigger {
	margin-left: 1.5em;
}

.group-book-cover {
	border: 3px solid #fff;
	margin-bottom: 0.5em;
}

.group-details {
	grid-area: group-details;
	padding: 3em 5em;
}

.group-details h5 {
	padding: 0.5em 0;
}

.group-posts {
	grid-area: group-posts;
	padding: 1em 5em;
}

.post-container {
	padding: 1em;
}

.post-content {
	padding: 1em 0;
}

#new-post-form {
	margin: 4em 0;
}

#new-post-form h5 {
	padding: 0.5em 0;
}

#new-post-form textarea {
	max-width: 465px;
}

.group-members {
	grid-area: group-members;
	text-align: center;
	border-left: 2px solid #999;
	padding: 3em 1em;
}

.group-members p {
	line-height: 1em;
	overflow-wrap: break-word;
}

.group-members .row {
	margin-bottom: 2em;
}

.group-members .col {
	margin-top: 2em;
}

.member-photo {
	width: 75px;
	height: 75px;
	background-size: cover;
	background-position: center center;
	border-radius: 100%;
	display: inline-block;
}

.already-joined-msg {
	color: red;
}

/******************************************************
		groups/groupsIndex.ejs 
*******************************************************/

.groups-results-card {
	text-align: center;
}


/*******************************************************
		showList.ejs 
********************************************************/

.list-page-background {
	min-height: calc(100vh - 250px);
}

.list-page-container {
	padding: 2em 0;
}

.list-page-container h5 {
	text-align: center;
}

.list-page-book-col {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.list-page-book-cover {
	width: 100%;
	text-align: center;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: 3em 0 1em 0;
}

.list-page-book-cover img {
	width: 150px;
}

.list-page-book-info {
	text-align: center;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.list-page-nav {
	display: flex;
	flex-direction: column;
}

.list-page-nav a:, .list-page-nav input[type=submit] {
	color: #888;
	background-color: #fff;
}

.start-spec-group-btn:hover, .search-spec-group-btn:hover {
	
}

.list-page-nav a, .list-page-nav input[type=submit] {
	color: #888;
	background-color: #fff;
}

.list-page-nav a:nth-child(2) {
	margin: 0.5em 0;
}

.delete-book-btn:hover {
	color: #fff;
	background-color: #dc2101;
}

.list-page-book-col .btn-small {
	width: 170px;
}

/*******************************************************
		user/showUsers.ejs 
********************************************************/

.showUsers-page-container .results-bottom {
	margin-top: 0;
}

.results-user-container {
	display: flex;
	padding: 2em;
	align-items: center;
}

.results-user-container h6{
	margin-top: 0.5em;
}

.results-user-info {
	padding-left: 3em;
}

.results-user-pic {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center center;
	border-radius: 100%;
}


/********************************************************
		showBook.ejs 
*********************************************************/

.show-book-page {
	display: grid;
	grid-template-areas: "book-banner book-banner"
						 "book-info book-nav"
						 "book-quotes book-quotes"
						 "book-notes book-notes";
	grid-template-columns: 1fr 30em;
	grid-template-rows: 24em auto auto auto;
}

.book-cover {
	position: absolute;
	text-align: center;
	bottom: -3em;
	left: 50%;
	transform: translateX(-50%);
}

.book-cover img {
	border: 5px solid #fff;
	border-radius: 5px;
	width: 175px;
}

.book-banner {
	grid-area: book-banner;
	background-size: cover;
	background-position: center center;
	position: relative
}

.book-banner .edit-trigger {
	position: relative;
	top: 1em;
	left: 1em;
}

.book-info {
	grid-area: book-info;
	padding: 4em 3em 3em 10em;
}

.book-info h5 {
	padding: 0.5em 0;
}

.book-info-btns form {
	display: inline-block;
}

.book-info-btns a, .book-info-btns input[type=submit] {
	color: #888;
	margin-top: 1em;
}

.edit-description-modal-trigger {
	font-size: 0.8em;
}

.book-nav {
	grid-area: book-nav;
	padding: 3em 3em 3em 0;
}

.book-nav a {
	color: #1d4b44;
}

.book-navbar {
	background: none;
	box-shadow: none;
	border-bottom: 1px solid #888;
}

.book-quotes {
	grid-area: book-quotes;
	padding: 0 5em;
	margin-bottom: 3em;
}

.book-notes {
	padding: 0 5em;
	grid-area: book-notes;
	margin-bottom: 3em;
}

.book-quotes h5, .book-notes h5 {
	text-align: center;
	margin-bottom: 1em;
}

.quotes-card, .notes-card {
	padding: 3em 5em;
}

.notes-card small {
	display: block;
	border-top: 1px solid #1d4b44;
	padding: 0.5em 0;
	margin: 4em 0 0.5em 0;
}

.new-quote-modal-trigger {
	display: block;
	text-align: center;
	color: #1d4b44;
	font-size: 1.4em;
}

#new-note-form {
	margin: 4em 0;
}

#new-note-form textarea {
	display: block;
	font-size: 1.4em;
}




