<div class="home-page-background">
	<div class="container home-page-container">
		<h5>Find a club!</h5>
		<p><em>Enter a title to find out who's discussing the books on your lists</em></p>
		<form id="search-groups-form" method="GET" action="/groups">
		  <input type="text" name="searchTerm" />
		  <input class="btn-large" type="submit" value="Search">
		</form>
	</div>	
</div>

